body {
  font-family: 'Karla', sans-serif;
  background-color: white;
}

.centred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  display: block;
  height: 100%;
  margin: 1%;
}

#top-banner {
  background-color: #005D69;
  height: 30vh;
}

#exhibition-tally {
  padding-top: 2%;
  height: 30%;
}

#counter-block, #counter-info-block {
  padding-bottom: 3%;
}

h1 {
  color: white;
  margin: 0;
  text-align: center;
}

#counter {
  font-size: 8em;
}

#counter-info {
  font-size: 4em;
}

#bottom-banner {
  background-color: #005D69;
  height: 30vh;
}

#total-count-block {
  top: 20%;
}

#total-count-info-block {
  margin: 0;
  top: 30%;
}

#total-count, #total-count-info {
  color: white;
  font-size: 24px;
  margin: 0;

}
