body {
  font-family: 'Karla', sans-serif;
  background-color: white;
}

.centred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  display: block;
  height: 100vh;
  margin: 1%;
}

#top-banner {
  background-color: #005D69;
  height: 30%;
}

#exhibition-tally {
  height: 40%;
}

h1 {
  color: white;
  margin: 0;
  text-align: center;
}

#counter-block {
  /* top: 31%; */
}

#counter-info-block {
  /* top: 45%; */
}

#counter {
  font-size: 128px;
  margin: 0;
}

#counter-info {
  font-size: 48px
}

#bottom-banner {
  background-color: #005D69;
  height: 30%;
}

#total-count-block {
  top: 20%;
}

#total-count-info-block {
  margin: 0;
  top: 30%;
}

#total-count, #total-count-info {
  color: white;
  font-size: 24px;
  margin: 0;

}
